// sample sass

$primary: #ff9d0acc;
$secondary: #126ee7cc;
$light-bg: #cecece;

body{
    background: $light-bg;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:#555;

   .card{
       background: #fff;
       width: 85%;
       border-radius: 5px;
       margin:10px auto;
       padding: 5px;
       box-shadow: #838383 3px 2px 2px;
       
       h1{
           font-weight: bold;
       }
       
       h1,h2,h3{
           text-transform: capitalize;
           color: $primary;
           text-align: center;
           position: relative;
       }
       h2{
           color: #555;
       }
       h1::after{
           content: '';
           position: absolute;
           top: 50px;
           left:50%;
           width: 20%;
           height: 4px;
           background: $secondary;
           transform: translateX(-50%);
       }

       h2::after{
        content: '';
        position: absolute;
        top: 35px;
        left:50%;
        width: 15%;
        height: 3px;
        background: $primary;
        transform: translateX(-50%);
    }

        ul{
            width: 50%;
            margin:40px auto;
           
        }
        li{
            list-style: none;
            widows: 100%;
            background: $secondary;
            color: #fff;
            border-bottom: 1px solid rgb(216, 216, 216);
            padding: 10px;
            text-transform: capitalize;
        }
   }

   #main-card{
       height: 90px;
   }
}
